// primary colors
$primary500: #86CEF7;
$primary600: #52B9F3;
$primary700: #2EABF1;
$primary800: #2078A9;
$primary900: #1C6893;

// neutral colors
$lightNeutral100: #e1e1e1;
$lightNeutral300: #9e9e9e;
$lightNeutral500: #404040;
$darkNeutral900: #333333;
$offWhite: #F5F5F5;
$offWhiteBorder: #ccc;

// accent colors
$accent1700: #FAD92C;
$accent2700: #FF9D14;

// box shadow
$boxShadow: rgba(255, 255, 255, 0);

// modal
$modalPText: #2c3e50;

// buttons
$buttonBlue: #3498db;
$buttonBlueHover: #2980b9;
$buttonText: #7f8c8d;
$buttonTextHover: #34495e;

// macos traffic lights 
$macRed: #e5685c;
$macRedBorder: #cd4c3e;
$macYellow: #f3be4f;
$macYellowBorder: #d79f3b;
$macGreen: #61c554;
$macGreenBorder: #51a83e;