

#cover-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#cover-page img {
    width: 40vw;
}

#greeting-bird-container {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#greeting-bird-container img {
    width: 70vw;
    transform: translate(20%, 70px);
}

.article-module {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 0;
}

.description {
    display: flex;
    flex-direction: column;
    width : 250px;
}

.description h1 {
    font-size: 36px;
    font-weight: 500;
}

.article-module img {
    max-height: 75vh;
    border-radius: 25px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
}

#matching-feature {
    background-color: var(--darkNeutral900);
    color: white;
}

#matching-feature h1, #weekly-challenges h1 {
    color: var(--accent1700);
}

#in-app-communication {
    background-color: var(--offWhite);
    color: var(--darkNeutral900);
}

#weekly-challenges {
    background-color: var(--primary700);
    color: white;
    text-align: center;
    z-index: 999;
    position: relative;
}

#weekly-challenges img:nth-child(2) {
    transform: translateY(40%);
}

#weekly-challenges img:nth-child(4) {
    transform: translateY(-40%);
}

#mockup-stacked {
    display: none;
    position: relative;
}

@media (max-aspect-ratio: 1200/800) {
    #weekly-challenges {
        justify-content: space-evenly;
        align-items: center;
        gap: 200px;
    }

    #weekly-challenges > img {
        display: none;
    }

    #mockup-stacked {
        display: block;
        height: 75vh;
    }

    #mockup-stacked img {
        display: block;
        position: relative
    }

    #mockup-stacked img {
        position: absolute;
        left: 0;
    }

    #mockup-stacked img:nth-child(1) {
        transform: translate(-10%, -10%);
    }

    #mockup-stacked img:nth-child(2) {
        transform: translate(10%, 10%);
    }
}

@media (max-aspect-ratio: 1/1) {
    #weekly-challenges {
        justify-content: space-evenly;
        padding: 20px 0;
    }

    #mockup-stacked {
        display: block;
        height: 50vh;
    }

    #mockup-stacked img{
        height: 60vh; 
    }

    #mockup-stacked img:nth-child(2) {
        transform: translate(0%, 10%);
    }

    #mockup-stacked img:nth-child(1) {
        transform: translate(0%, -10%);
    }

    #cover-page {
        flex-direction: column;
    }

    #cover-page > img {
        width: 70vw;
    }

    #greeting-bird-container {
        height: 20vh;
    }

    #greeting-bird-container img {
        height: 75vh;
        width: auto;
        transform: translateY(40%);
    }
}

@media (max-aspect-ratio: 760/1000) {
    .article-module {
        flex-direction: column;
    }

    #weekly-challenges {
        height: auto;
        gap: 0;
        overflow: hidden;
    }

    #mockup-stacked {
        display: none;
    }

    #weekly-challenges img:nth-child(2), #weekly-challenges img:nth-child(4){
        display: block;
    }

    #weekly-challenges img:nth-child(2) {
        transform: translateY(-20%);
    }

    #weekly-challenges img:nth-child(4) {
        transform: translateY(20%);
    }
}